@import url('https://fonts.googleapis.com/css2?family=Carme&family=Oswald:wght@600&display=swap');

@font-face {
    font-family: Porcelain;
    src: url(Porcelain-8EaB.ttf);
}

* {
    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;
}

body {
    display: flex;
    scroll-behavior: smooth;
    flex-wrap: wrap;
    background-color: rgba(170, 65, 235, 0.065);
}

.mainbody {
    margin-bottom: 2rem;
    height: 100%;
    width: 100%;
    border-bottom: 2px ridge rgb(188, 99, 243);
    border-radius: px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.hidden {
    display: none;
    ;
}

#hover-button {
    position: relative;
    top: 0rem;
    flex-flow: column wrap;
    align-items: flex-end;
    justify-content: end;
    margin: 0.5rem 0.5rem 0.5rem 0rem;
}

.btn {
    position: fixed;
    top: .9rem;
    flex-flow: nowrap;
    justify-content: flex-start;
    width: 8.5rem;
    height: 2.7rem;
    border: 2px solid rgb(145, 10, 235);
    border-radius: 24px;
    background-color: transparent;
    z-index: 1;
    transition: all 0.25s ease-in-out;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0px 3px 5px 0.7px rgba(29, 29, 29, 0.445);
}

.circle {
    position: absolute;
    left: -1px;
    width: 2.7rem;
    height: 2.7rem;
    background-color: rgb(145, 10, 235);
    border-radius: 24px;
    z-index: 2;
    transition: all 0.25s cubic-bezier(1, 0, 0.8, 1);
}

.circle:hover {
    width: 8.5rem;
}

.arrow {
    position: absolute;
    top: 0.95rem;
    left: 0.7rem;
    width: 12px;
    height: 12px;
    border-radius: 2px;
    border-top: 2px solid rgb(255, 255, 255);
    border-right: 2px solid rgb(255, 255, 255);
    transform: rotate(45deg);
    transition: all 0.25s ease-in-out;
}

.btn:hover .arrow {
    left: 1.2rem;
}

.arrow:before {
    content: "";
    position: absolute;
    width: 18px;
    height: 1.5px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    transform: rotate(-45deg);
    top: 5.15px;
    left: -5.5px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.btn:hover .arrow:before {
    opacity: 1;
}

.text {
    font-family: 'Oswald', sans-serif;
    position: relative;
    text-transform: uppercase;
    left: 3rem;
    color: rgb(145, 10, 235);
    font-size: 0.85rem;
    line-height: 1px;
    letter-spacing: 0.2px;
    transition: all 0.15s ease-in-out;
    z-index: 3;
}

.btn:hover .text {
    transform: translateX(-5px);
    color: rgb(228, 213, 238);
}

.head {
    padding: 0.5rem 0rem 0.5rem 0rem;
    justify-content: flex-start;

}

.logo {
    position: relative;
    width: 12rem;
    height: 2.75rem;
    top: .52rem;
}

.note {
    margin: 1.25rem 1rem 1.25rem 1rem;
    padding: 2.5rem 1.2rem 2.5rem 1.2rem;
    justify-content: flex-start;
    align-items: flex-start;
    height: 35rem;
    width: 22.5rem;
    border-radius: 10px;
    transition: all 0.15s ease-in-out;
}

.note:hover {
    transform: scale(1.03);
    background-color: rgba(170, 65, 235, 0.05);
    box-shadow: 0px 2px 9px 0.9px rgba(29, 29, 29, 0.445);
    cursor: pointer;
}


.button {
    position: relative;
    height: 2rem;
    width: 2rem;
    font-size: 1.15rem;
    border: 0px;
    border-radius: 50%;
    z-index: 2;
    opacity: 0.7;
    transition: all 0.15s ease-in-out;
}

.button:hover {
    opacity: 1;
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0px 4px 5px 0.9px rgba(29, 29, 29, 0.445);
}

.edit {
    top: -1.75rem;
    right: -7.5rem;
    background-color: rgb(61, 233, 9);
}

.edit:hover {
    color: rgb(61, 233, 9);
    border: 1.5px solid rgb(61, 233, 9);
    background-color: rgb(255, 255, 255);
}

.delete {
    top: -1.75rem;
    right: -8.25rem;
    background-color: rgb(235, 69, 4);
}

.delete:hover {
    color: rgb(235, 69, 4);
    border: 1.5px solid rgb(235, 69, 4);
    background-color: rgb(255, 255, 255);
}

.textbox {
    font-family: Porcelain;
    color: rgb(145, 10, 235);
    position: relative;
    top: -0.75rem;
    height: 30rem;
    width: 20.25rem;
    border: 0px;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 2.25rem;
    overflow: hidden;
    word-wrap: break-word;
}

textarea {
    resize: none;
    outline: none;
    background-color: transparent;
    outline: 1px solid rgb(170, 65, 235);
}

@media (min-width: 700px) and (max-width: 1920px) {
    .note {
        margin: 1rem 1rem 1rem 1.5rem;
        height: 20rem;
        width: 32.5rem;
    }

    .textbox {
        height: 15rem;
        width: 30.25rem;
    }

    .delete {
        top: -1.75rem;
        right: -13.25rem;
    }
    .edit {
    top: -1.75rem;
    right: -12.75rem;
    }
}
